@model ComicsApp.Models.Comic

@{
    ViewData["Title"] = "Details";
}
<head>
	<link rel="stylesheet" href="~/css/crudstyles.css" asp-append-version="true" />
</head>
<h1>Details</h1>

<div>
    <h4>Comic</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComicName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComicName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.URL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.URL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComicCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComicCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author.AuthorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publisher.PublisherId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ComicId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
